<h3>Cart</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<p *ngIf="items.length === 0">Your shopping cart is empty!</p>

<div *ngFor="let item of items" class="cart-item">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<button
  *ngIf="items.length > 0"
  type="button" 
  class="button clear-button" 
  (click)="onClearClick()"
  >
  Clear Cart
</button>

<form 
  *ngIf="items.length > 0" 
  [formGroup]="checkoutFrom" 
  (ngSubmit)="onSubmit()"
  >
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address" />
  </div>

  <button type="submit" class="button">Purchase</button>
</form>